body {
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

main {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 500px;
    width: 500px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;

    img {
        height: 100px;
    }

    .board {
        font-size: 50px;
        font-weight: lighter;
        background-color: #f3f3f3;
        width: 50%;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    button {
        height: 100px;
        width: 200px;
        border-radius: 30px;
        font-size: 30px;
        font-weight: lighter;
        border: 0 solid black;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        color: black;

        &:hover {
            font-size: 25px;
            transition-duration: 1s;
            width: 120px;
            color: black;
        }

        &:active {
            transition-duration: 0s;
            box-shadow: 0px 5px 10px 0px green;
            color: black;
        }
    }
}

@media(max-width: 500px) {

    body {
        margin-top: 50%;
    }

    main {
        height: 300px;
        width: 300px;

        img {
            height: 70px;
        }

        .board {
            font-size: 40px;
        }

        button {

            height: 70px;
        }
    }
}